@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

#root {
  margin: 0 auto;
  width: auto;
  height: auto;
  font-family: "Cairo", serif;
  background-color: #07203a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: auto;
  height: auto;
  overflow-x: hidden;
  background-color: #07203a !important;
}
.font-type {
  font-family: Cairo;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.search-bar {
  background-color: #102d4c !important;
}
.nav-link:hover {
  color: #fcd980 !important;
}
.button-nav:hover {
  color: #fcd980 !important;
}
.main-image {
  width: 30rem !important;
  z-index: 999 !important;
  position: relative;
  right: 5rem;
  height: 100%;
  bottom: -49px;
  border-radius: 10px;
}

.side-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 250px;
  position: absolute;
  top: 8%;
  right: 16rem;
  gap: 10px;
}

.side-img {
  width: 135px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dicrapation-hero {
  line-height: 3rem !important;
  font-size: 27px !important;

  color: #ffffff;
  width: 70%;
  margin-left: 26%;
}
.foot-contant {
  padding: 20px !important;
  background-color: #102d4c;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 922;
}
.aboutus-btn {
  background-color: rgb(16, 45, 76);
  color: white;
  height: 50px;
  border-radius: 10px;
  padding: 6px;
  border: none;
}
.content-btn {
  background-color: #102d4c;
  color: white;
  height: 50px;
  border-radius: 10px;
  padding: 6px;
  border: none;
}
.addcourse-btn {
  width: 100%;
  background-color: rgb(238, 244, 250);
  border-radius: 14px;
  margin-top: 10px;
  border: none;
  height: 45px;
  font-weight: bold;
}
.aboutus-btn:hover,
.content-btn:hover {
  background-color: #fcd980;
}
.titel-hero2 {
  color: #102d4c;
  font-size: 26px;
  font-weight: bold;
  font-family: "Cairo", serif;
}
.dicrapation-hero2 {
  font-weight: bold;
  font-size: 18px;
  font-family: "Cairo", serif;
  color: #888888;
}
::placeholder {
  color: white !important;
  opacity: 1;
  direction: ltr;
}
select {
  background-color: #07203a;
  color: white;
  border: 1px solid #ccc;
}

select:focus {
  background-color: #102d4c !important;
}
